<div fxLayout="row">
    <sic-quote-search
        fxFlex="1 0 auto"
        (symbolSelected)="setSymbol($event)"
    ></sic-quote-search>
</div>
<div fxLayout="row" fxLayoutGap="20px">
    <sic-chart fxFlex="70%" [symbol]="symbol"></sic-chart>

    <mat-card fxFlex="30%">
        <ng-container
            *ngIf="summary; else noData"
            [ngSwitch]="summary.quoteType?.quoteType"
        >
            <ng-container *ngSwitchCase="QuoteType.EQUITY">
                <sic-quote-equity-details
                    [summary]="summary"
                ></sic-quote-equity-details>
            </ng-container>
            <ng-container *ngSwitchCase="QuoteType.CRYPTOCURRENCY">
                <sic-quote-cryptocurrency-detail
                    [summary]="summary"
                ></sic-quote-cryptocurrency-detail>
            </ng-container>
            <ng-container *ngSwitchCase="QuoteType.ETF">
                <sic-quote-etf-details
                    [summary]="summary"
                ></sic-quote-etf-details>
            </ng-container>
        </ng-container>
        <ng-template #noData>
            <p class="no-data">No data.</p>
        </ng-template>
    </mat-card>
</div>
