<div class="dialog-container" fxLayout="column">
    <h1 mat-dialog-title>Modifier les indicateurs</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content class="mat-typography" fxFlex="1 1 auto">
        <mat-drawer-container>
            <mat-drawer mode="side" opened>
                <mat-selection-list
                    [formControl]="selectedIndicatorControl"
                    [multiple]="false"
                >
                    <mat-list-option
                        *ngFor="let indicator of indicators"
                        [value]="indicator"
                    >
                        {{ indicator.label }}
                    </mat-list-option>
                </mat-selection-list>
            </mat-drawer>
            <mat-drawer-content>
                <form
                    *ngIf="currentForm !== null; else noConfiguration"
                    fxLayout="column"
                    fxLayoutGap="10px"
                >
                    <mat-form-field
                        *ngFor="let field of currentForm.fields | keyvalue"
                        appearance="fill"
                    >
                        <mat-label>{{ field.value.displayName }}</mat-label>
                        <input
                            matInput
                            [formControl]="field.value.formControl"
                        />
                        <mat-error *ngIf="field.value.formControl.invalid">
                            {{ getErrorMessage(field.value.formControl) }}
                        </mat-error>
                    </mat-form-field>
                </form>
                <ng-template #noConfiguration>
                    <p>Pas de configuration.</p>
                </ng-template>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Annuler</button>
        <button
            mat-button
            [mat-dialog-close]="getConfigurations()"
            cdkFocusInitial
            [disabled]="!allFormsValid()"
        >
            Enregistrer
        </button>
    </div>
</div>
