<h1 mat-dialog-title>Ajouter des indicateurs</h1>
<mat-divider></mat-divider>
<div mat-dialog-content class="mat-typography">
    <section *ngFor="let indicatorCategory of INDICATORS">
        <h2>{{ indicatorCategory.displayName }}</h2>
        <p *ngFor="let indicator of indicatorCategory.indicators">
            <mat-checkbox
                [formControl]="getControlFor(indicator.displayName)"
                >{{ indicator.displayName }}</mat-checkbox
            >
        </p>
    </section>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button
        mat-button
        [mat-dialog-close]="getSelectedIndicators()"
        cdkFocusInitial
    >
        Ok
    </button>
</div>
