.mat-button-toggle-group {
    height: 32px;
    align-items: center;
    margin-bottom: 2rem;
}

sic-formula-chart {
    width: 100%;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
