<h1 mat-dialog-title>Indicateurs</h1>
<div mat-dialog-content>
    <section>
        <p
            formArraryName="indicators"
            *ngFor="let indicator of INDICATORS; let i = index"
        >
            <mat-checkbox [formControl]="getControlAt(i)">{{
                indicator.name
            }}</mat-checkbox>
        </p>
    </section>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button
        mat-button
        [mat-dialog-close]="getSelectedIndicators()"
        cdkFocusInitial
    >
        Ok
    </button>
</div>
