mat-form-field {
    margin-left: 1rem;
    margin-right: 1rem;
}

mat-form-field {
    // To counter the padding-bottom of the mat-form-fields and center everything
    padding-top: 1.34rem;
}

button[mat-icon-button] {
    margin-right: 1rem;
}
