<mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input
        type="text"
        placeholder="Ex: TTE, Total"
        aria-label="Search"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
    />
</mat-form-field>
<mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="symbolSelected.emit($event.option.value)"
>
    <mat-optgroup
        *ngFor="let group of quotes$ | async | keyvalue"
        [label]="group.key"
    >
        <mat-option *ngFor="let quote of group.value" [value]="quote.symbol">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>{{ quote.shortname }}</span>
                <mat-chip-list>
                    <mat-chip>
                        <span class="mat-small">
                            {{ quote.symbol }}</span
                        ></mat-chip
                    >
                </mat-chip-list>
            </div>
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>
