<div fxLayout="column">
    <sic-quote-search fxFlex="1 0 auto" (symbolSelected)="currentSymbol = $event"></sic-quote-search>
    <sic-chart
        fxFlex="70%"
        [symbol]="currentSymbol"
        [entryConditions]="entryConditions"
        [exitConditions]="exitConditions"
    ></sic-chart>
</div>
<div class="conditions" fxLayout="row">
    <mat-tab-group>
        <mat-tab label="Conditions d'entrée">
            <sic-edit-condition (conditionUpdated)="onEntryConditionUpdated($event)"></sic-edit-condition>
        </mat-tab>
        <mat-tab label="Conditions de sortie">
            <sic-edit-condition (conditionUpdated)="onExitConditionUpdated($event)"></sic-edit-condition>
        </mat-tab>
    </mat-tab-group>
</div>
